<h2 class="pagetitle">Settings</h2>
<div class="form">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
	<%= f.label :email %>
    <%= f.text_field :email %>
 </div>

  <div class="field">
	<%= f.label :password %>
    <%= f.password_field :password %><i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="field">
	<%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %> <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="field">
	<%= f.submit "Update", :class => "button" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

</div>