<%= form_for @job do |f| %>

<% if @job.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@job.errors.count, "error") %> prohibited this person from being saved:</h2>
  <ul>
  <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

	<p>
	<%= f.label :title, t("job.title") %>
	<%= f.text_field :title %>
	</p>
	
	<p>
	<%= f.label :company_name, t("job.company_name") %>
	<%= f.text_field :company_name %>
	</p>
	
	<p>
	<%= f.label :url, "URL" %>
	<%= f.text_field :url %>
	</p>
	
	<p>
	<%= f.label :job_type, t("job.type") %>
		<% Job::JOB_TYPE.each do |t| %>
			<%= f.radio_button :job_type, t %> <%= t %>
		<% end %>
	</p>
	
	<p>
	<%= f.label :joccupation, t("job.occupation") %>
		<% Job::OCCUPATION.each do |o| %>
			<%= f.radio_button :occupation, o %> <%= o %>
		<% end %>
	</p>
		
	<p>
	<%= f.label :location, t("job.location") %>
	<%= f.text_field :location %>
	</p>
	
	<p>
	<%= f.label :description, t("job.description") %>
	<%= f.text_area :description %>
	</p>
	
	<p>
	<%= f.label :apply_information, t("job.apply_information") %>
	<%= f.text_area :apply_information %>
	</p>
	
	<p>
		<%= f.label :deadline, t("job.deadline") %>
		<%= f.date_select :deadline %>
		<%= f.check_box :deadline_forever %><%= t("job.deadline_forever") %>
	</p>
	
	<p>
	<%= f.submit t(:submit), :disable_with => t(:submiting) %>
	</p>
<% end %>