<div class="form">
  <%= form_for @job do |f| %>

	<% if @job.errors.any? %>
	<div id="error_explanation">
  		<h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
  		<ul>
  			<% @job.errors.full_messages.each do |msg| %>
    		<li><%= msg %></li>
  			<% end %>
  		</ul>
	</div>
	<% end %>

	<div class="field">
	<%= f.label :title, t("job.title") %>
	<%= f.text_field :title, :class => "text" %>
	</div>
	
	<div class="field">
	<%= f.label :company_name, t("job.company_name") %>
	<%= f.text_field :company_name, :class => "text" %>
	</div>
	
	<div class="field">
	<%= f.label :url, "URL" %>
	<%= f.text_field :url, :class => "text" %>
	</div>
	
	<div class="field reset">
	<%= f.label :job_type, t("job.type") %>
		<% Job::JOB_TYPE.each do |t| %>
                        <%= f.radio_button :job_type, t %> <%= f.label :job_type, t, :value => t, :class => "inline" %>
		<% end %>
	</div>
	
	<div class="field reset">
	<%= f.label :occupation, t("job.occupation") %>
		<% Job::OCCUPATION.each do |o| %>
                        <%= f.radio_button :occupation, o %> <%= f.label :occupation, o, :value => o, :class => "inline" %>
		<% end %>
	</div>
		
	<div class="field">
	<%= f.label :location, t("job.location") %>
	<%= f.text_field :location, :class => "text" %>
	</div>
	
	<div class="field">
	<%= f.label :description, t("job.description") %>
	<%= f.text_area :description, :class => "text" %>
	</div>
	
	<div class="field">
	<%= f.label :apply_information, t("job.apply_information") %>
	<%= f.text_area :apply_information, :class => "text" %>
	</div>
	
	<div class="field reset">
		<%= f.label :deadline, t("job.deadline") %>
		<span id="deadline_fields"><%= f.date_select :deadline %></span>
		<%= f.check_box :deadline_forever %><label for="job_deadline_forever" class="inner"><%= t("job.deadline_forever") %></label>
	</div>
	
	<div class="field actions">
          <%= link_to(t(:preview), "#preview", :class => "preview") %>
	<%= f.submit t(:submit), :class => "submit button",:disable_with => t(:submiting) %>
	</div>
        <div style='display:none'>
        <div id="preview"></div>
        </div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	if ( $("#job_deadline_forever").attr("checked") ) {
    	$("#deadline_fields").hide();
	}
	$("#job_deadline_forever").click(function() {
    	$("#deadline_fields").toggle();
	});
    $("a.preview").colorbox( {
        width: "960px",
        height: "80%",
        inline: true,
        onLoad: function() {
          $.post("/jobs/preview", $("form").serialize(), function(s){ $("#preview").html(s)});
        }
    } );
</script>
