<div class="job-content">
<h1 class="jobtitle"><%= @job.title %></h1>
<p class="date">
 <%= t("job.posted") %>: <%= @job.created_at.to_date %>
 
 <% if @job.owner == current_user  %>	
 	<%= t("job.deadline") %>: <%= @job.deadline || t("job.deadline_forever") %>
 	<span class="manage">
 	<%= link_to t(:edit), edit_job_path(@job), :class => "edit" %>	
 	<% if @job.closed? %>
 		<%= link_to t(:open), open_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "open" %>
 	<% else %>
 		<%= link_to t(:close), close_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "close" %>
 	<% end %>	
 	<%= link_to t(:delete), job_path(@job), :confirm => t(:are_you_sure), :method => :delete, :class => "delete" %>
 	</span>	
 <% elsif @job.deadline %>
 	<%= t("job.deadline") %>: <%= @job.deadline %>
 <% end %>
</p>

<p class="social">
    <a href="/" class="twitter" title="Tweet this job!">Tweet this job!</a>
    <a href="/" class="facebook" title="Facebook it">Facebook it</a>
    <a href="/" class="plurk" title="Plurk it">Plurk it</a>
</p>

          <ul class="job-info form menu">
                <li class="double clearfix">
                    <div class="field">
                        <label><%= t("job.type") %></label> <%= @job.job_type %>
                    </div>
                    <div class="field">
                        <label><%= t("job.occupation") %></label> <%= @job.occupation %>
                    </div>
                </li>
                <li class="double clearfix">
                    <div class="field">
                        <label><%= t("job.company_name") %></label> <%= @job.company_name %>
                    </div>
                    <div class="field">
                        <label><%= t("job.location") %></label> <%= @job.location %>
                    </div>
                </li>

				<% unless @job.url.blank? %>
                <li>
                    <div class="field">
                        <label>URL</label> <%= link_to @job.url, @job.url, :target => "_blank" %>
                    </div>
                </li>
				<% end %>
								
                <li class="last">
                    <div class="field">
                        <label><%= t("job.description") %></label>
                        <div class="description"><%= simple_format @job.description %></div>
                    </div>
                </li>
            </ul>
            <div class="apply-information">
                <h2><%= t("job.apply_information") %></h2>
                <div class="description"><%= simple_format @job.apply_information %></div>
            </div>

<a href="/" class="backto">Back to job board</a>
</div>