<h2><%= @job.title %></h2>
<h3><%= t("job.posted") %>: <%= @job.created_at.to_date %></h3>

<%= render :partial => "owner_buttons", :locals => { :job => @job } %>

<p>
	<a href="#">Tweet this job!</a> | 
	<a href="#">Facebook it</a> | 
	<a href="#">Plurk it</a>
</p>


<table border="1">
	<tr>
		<th><%= t("job.type") %></th>
		<td><%= @job.job_type %></td>
	</tr>
	
	<tr>
		<th><%= t("job.occupation") %></th>
		<td><%= @job.occupation %></td>
	</tr>
		
	<tr>
		<th><%= t("job.location") %></th>
		<td><%= @job.location %></td>
	</tr>
	
	<tr>
		<th><%= t("job.company_name") %></th>
		<td><%= @job.company_name %></td>
	</tr>
	
	<% unless @job.url.blank? %>
	<tr>
		<th>URL</th>
		<td><%= link_to @job.url, @job.url %></td>
	</tr>
	<% end %>
	
	<tr>
		<th><%= t("job.description") %></th>
		<td><%= @job.description %></td>
	</tr>
	
	<tr>
		<th><%= t("job.apply_information") %></th>
		<td><%= @job.apply_information %></td>
	</tr>

</table>

<p><%= link_to "Back to the job board", root_path %></p>