<div class="job-content">
<h1 class="jobtitle"><%= @job.title %></h1>
<p class="date">
 <%= t("job.posted") %>: <%= @job.created_at.to_date %>
 
 <% if @job.owner == current_user  %>	
 	<%= t("job.deadline") %>: <%= @job.deadline || t("job.deadline_forever") %>
 	<span class="manage">
 	<%= link_to t(:edit), edit_job_path(@job), :class => "edit" %>	
 	<% if @job.closed? %>
 		<%= link_to t(:open), open_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "open" %>
 	<% else %>
 		<%= link_to t(:close), close_job_path(@job), :confirm => t(:are_you_sure), :method => :put, :class => "close" %>
 	<% end %>	
 	<%= link_to t(:delete), job_path(@job), :confirm => t(:are_you_sure), :method => :delete, :class => "delete" %>
 	</span>	
 <% elsif @job.deadline %>
 	<%= t("job.deadline") %>: <%= @job.deadline %>
 <% end %>
</p>

<div class="social">

    <div class="social">
      <div class="fb-like" data-href="<%= job_url(@job) %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>
      <g:plusone href="<%= job_url(@job) %>" size="Medium"></g:plusone>
    </div>

</div>

<%= render :partial => "job", :object => @job %>

<a href="/" class="backto">Back to job board</a>
</div>
