<h2 class="pagetitle">Sign up</h2>
<div class="form">
	
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
	<%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
	<%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  </div>

  <div class="field">
	<%= f.submit "Sign in", :class => "button submit" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>