<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <title><%= @page_title || "Ruby Jobs in Taiwan" %></title>
  <meta name="description" content="<%= @page_description || "Job board for  Ruby and Rails developers in Taiwan" %>">
  <meta name="keywords" content="Ruby, Rails, Taiwan, Job, Rails Developer">
  <link rel="image_src" content="<%=Rails.application.secrets.domain + Rails.application.secrets.default_logo_url%>" />


  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" %>
  <%= stylesheet_link_tag 'mobile'%>

  <!-- loads jquery mobile here first, or layout will flicker -->
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" %>
  <%= javascript_include_tag "mobile" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js" %>
</head>
<body>
  <%= yield %>
</body>
</html>
