<!DOCTYPE html>
<html>
<head>
  <title>Ruby Jobs in Taiwan</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1><a href="/">Job board for Ruby and Rails developers in Taiwan</a></h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>
<% if user_signed_in? %>
	Hi, <%= current_user.email %> 
	<%= link_to t(:list_my_posting), user_jobs_path( current_user ) %>
	<%= link_to t(:logout), destroy_user_session_path %>
<% else %>
	<%= link_to t(:signup), new_registration_path(:user) %> | 
	<%= link_to t(:login), new_session_path(:user) %>
<% end %>
</p>

<%= yield %>

<div id="footer">
	
<p>	The job board is a free service by <a href="http://ruby.tw">Ruby Taiwan</a>.</p>

<p>
	<%= link_to t(:faq), about_path %> | <%= link_to t(:rss_feed), "#" %> | <%= link_to t(:twitter), "http://twitter.com/rubytaiwan" %><br>
	Choose your language: 
	<%= link_to "English", :controller => controller.controller_name, 
			         :action => controller.action_name, :locale => "en" %>
	<%= link_to "繁體中文", :controller => controller.controller_name, 
			         :action => controller.action_name, :locale => "zh_tw" %>
</p>
	
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-145330-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
