<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>

  <meta property="og:title" content="<%= page_title || SeoHelper.configuration.site_name %>"/>
  <meta property="og:description" content="<%= page_description || SeoHelper.configuration.default_page_description %>"/>
  <meta property="og:image:url" content="<%= page_image || SeoHelper.configuration.default_page_image %>"/>

  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rubyjobs-taiwan", :title => "Ruby Jobs in Taiwan RSS feed") %>

<script type="text/javascript">
	$(function(){
		$.fn.formLabels();
		$("#search-form").submit(function(){
			var formVal = $("form").serialize();
			parent.$("#default div.results").html(formVal);
		})
	});
</script>

<%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1><a href="/">RubyJobs</a></h1>
        <div class="right">
            <p class="member">
              <%= render :partial => "common/usernav" %>
            </p>
            <%= render :partial => "common/search_form" %>
        </div>
    </div>
    <div id="container">
        <div id="container-inner">
          <%= flash_messages %>
          <%= yield %>
        </div>
    </div>
    <div id="footer">
        <ul class="menu clearfix">
            <li><%= link_to t(:faq), about_path %></li>
            <li><%= link_to t(:rss_feed), "http://feeds.feedburner.com/rubyjobs-taiwan" %></li>
            <li class="twitter"><%= link_to t(:twitter), "http://twitter.com/rubytaiwan" %></li>
        </ul>
        <p class="language">Choose your language:
			<%= link_to "English", :controller => controller.controller_name,
					         :action => controller.action_name, :locale => "en" %>
			<%= link_to "繁體中文", :controller => controller.controller_name,
					         :action => controller.action_name, :locale => "zh_tw" %>
	    </p>
        <address>The job board is a free service by <a href="http://ruby.tw">Ruby Taiwan</a> and hosted by <a href="http://azure.microsoft.com" target="_blank">Microsoft Azure</a>.</address>
    </div>
</div>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => "common/facebook_js" %>
  <%= yield :scripts %>

<%= render :partial => "common/google_analytics" %>

</body>
</html>
