<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>

  <meta property="og:title" content="<%= page_title || SeoHelper.configuration.site_name %>"/>
  <meta property="og:description" content="<%= page_description || SeoHelper.configuration.default_page_description %>"/>
  <meta property="og:image:url" content="<%= page_image || SeoHelper.configuration.default_page_image %>"/>

  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag "backend" %>

  <%= auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rubyjobs-taiwan", :title => "Ruby Jobs in Taiwan RSS feed") %>

<script type="text/javascript">
	$(function(){
		$.fn.formLabels();
		$("#search-form").submit(function(){
			var formVal = $("form").serialize();
			parent.$("#default div.results").html(formVal);
		})
	});
</script>

<%= csrf_meta_tag %>
</head>
<body>
    <%= render "cpanel/common/navbar" %>
    <div class="row">
      <div class="col-md-3">
        <%= render "cpanel/common/menu" %>
      </div>

      <div class="col-md-9">
        <div id="container">
          <div id="container-inner">
            <%= render_notice %>
            <%= render_warning %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => "common/facebook_js" %>
  <%= yield :scripts %>

<%= render :partial => "common/google_analytics" %>

</body>
</html>
