<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title><%= @page_title || "Ruby Jobs in Taiwan" %></title>
  <meta name="description" content="<%= @page_description || "Job board for  Ruby and Rails developers in Taiwan" %>">
  <meta name="keywords" content="Ruby, Rails, Taiwan, Job, Rails Developer">
  <link rel="image_src" content="<%=Rails.application.secrets.domain + Rails.application.secrets.default_logo_url%>" />

  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag "backend" %>

  <%= auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rubyjobs-taiwan", :title => "Ruby Jobs in Taiwan RSS feed") %>

<script type="text/javascript">
	$(function(){
		$.fn.formLabels();
		$("#search-form").submit(function(){
			var formVal = $("form").serialize();
			parent.$("#default div.results").html(formVal);
		})
	});
</script>

<%= csrf_meta_tag %>
</head>
<body>
    <%= render "cpanel/common/navbar" %>
    <div class="row">
      <div class="col-md-3">
        <%= render "cpanel/common/menu" %>
      </div>

      <div class="col-md-9">
        <div id="container">
          <div id="container-inner">
            <p class="alert"><%= alert %></p>
            <p class="notice text-center"><%= notice %></p>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => "common/facebook_js" %>
  <%= yield :scripts %>

<%= render :partial => "common/google_analytics" %>

</body>
</html>
